#header1{
    color:rgb(7, 7, 185)
}
#header2{
    color:rgb(7, 7, 185)
}
#header3{
    color:rgb(7, 7, 185)
}
#header4{
    color:rgb(7, 7, 185)
}
#header5{
    color:rgb(7, 7, 185)
}
#header6{
    color:rgb(7, 7, 185)
}
#header7{
    color:rgb(7, 7, 185)
}
#header8{
    color:rgb(7, 7, 185)
}
#header9{
    color:rgb(7, 7, 185)
}
#header10{
    color:rgb(7, 7, 185)
}
#header11{
    color:rgb(7, 7, 185)
}
#header12{
    color:rgb(7, 7, 185)
}
#header13{
    color:rgb(7, 7, 185)
}
#footer{
    color:rgb(7,7,185)
}
#footer-text{
    color:rgb(7,7,185)
}
#footer{
    background-color:rgb(122, 202, 255)
}
#paragraph{
    color:rgb(7, 7, 185)
}
#paragraph{
    background-color:rgb(122, 202, 255)
}
#paragraph1{
    color:rgb(7, 7, 185)
}
#paragraph2{
    color:rgb(7, 7, 185)
}
#paragraph3{
    color:rgb(7, 7, 185)
}
#paragraph4{
    color:rgb(7, 7, 185)
}
#paragraph5{
    color:rgb(7, 7, 185)
}
#paragraph6{
    color:rgb(7, 7, 185)
}
#paragraph7{
    color:rgb(7, 7, 185)
}
#paragraph8{
    color:rgb(7, 7, 185)
}
#paragraph9{
    color:rgb(7, 7, 185)
}
#paragraph10{
    color:rgb(7, 7, 185)
}       
#paragraph11{
    color:rgb(7, 7, 185)
}
#paragraph12{
    color:rgb(7, 7, 185)
}
#paragraph13{
    color:rgb(7, 7, 185)
}
#paragraph14{
    color:rgb(7, 7, 185)
}
#paragraph15{
    color:rgb(7, 7, 185)
}
#paragraph16{
    color:rgb(7, 7, 185)
}
#email{
    color:rgb(7, 7, 185)
}
#password{
    color:rgb(7, 7, 185)
}
#button{
    color:rgb(7, 7, 185);
    background-color:rgb(0, 109, 182);
}


#button:hover{
    color:rgb(6, 64, 112)
}
#submit{
    color:rgb(7, 7, 185);
    background-color: red;
}